form {
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="tel"],
input[type="number"],
input[type="date"] {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.btn-add {
  background: green;
  margin-right: 8px;
}
.btn-dlt {
  background: red;
}

button[type="submit"] {
  background-color: #008cba;
  margin: auto;
  display: flex;
}

button[type="submit"]:hover {
  background-color: #005f78;
}

.item-container {
  display: flex;
  align-items: center;
}

.item-container > div {
  margin-right: 10px;
}

.item-container input[type="text"],
.item-container input[type="number"] {
  width: auto;
}

.item-container button {
  margin-left: 10px;
}

.input-page-area {
  width: 80%;
  margin: 50px auto;
}
